@import "../../../globalStyles/globalMixins.scss";

.ProductList {
  @include mainPages;
  margin: 10px 0px 0px 10px;

  .Product--ProductListBtn {
    margin: 10px 0px 0px 10px;
  }
  .MuiOutlinedInput-root {
    height: 38px;
    box-sizing: border-box;
  }

  .ProductListForm {
    margin-left: 20px;
  }

  .ProductSizes {
    display: flex;
    flex-wrap: wrap;
  }

  .AllignIndividualProductSizes {
    margin-right: 8px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 7px;
    cursor: pointer;
  }

  .InputFileContainer {
   
   .input-file {
    @apply block file:py-2.5 file:px-4 file:rounded file:cursor-pointer file:bg-indigo-600
     file:text-white file:text-sm file:font-medium file:mr-4
   }
  }
}
