@import "../../../globalStyles/globalMixins.scss";

.ProductList {
  @include mainPages;
  margin: 10px 0px 0px 10px;

  .Product--ProductListBtn {
    margin: 10px 0px 0px 10px;
  }
  .MuiOutlinedInput-root {
    height: 38px;
  }

  .ProductListForm {
    margin-left: 20px;
  }

  .ProductSizes {
    display: flex;
    flex-wrap: wrap;
  }

  .AllignIndividualProductSizes {
    margin-right: 8px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 7px;
    cursor: pointer;
  }
}
