.swiperCategories {
    
    width: 90%;
    height: 150px;
    margin-top: 50px;

    .swiperSlideCategories {
        display: flex;
        // background-color: rgb(99, 99, 219);
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        .slideContainer {
          display: flex;
          align-items: center;

            .swiperSlideCategoryiesText {
                position: absolute;
                background-color: black;
                opacity: 5;
                width: 100%;
                height: 0;

                .swiperSlideText {
                    color: white;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
        }

        
    }
}