.breadcrumb {

    .breadcrumb-container {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .breadcrumb-container-icon {
        margin-top: 5px;
        margin-left: 12px;
    }
}