@mixin pages-background($backgroundColor,$color){
    margin-left: 5px;
    padding: 10px;
    background-color: $backgroundColor;
    color: $color;
}

.paginationMain {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    .pages-active {
        @include pages-background(black,white)
    }
    .pages-inActive{
        @include pages-background(white,black)
    }
}