@import "../../../globalStyles/globalMixins.scss";

.AddCategory {
     @include mainPages;
    .AddCategory--AddCategoryBtn {
        margin: 10px 0px 0px 10px;
    }
    .edit-category {
        background-color: orange;
        padding: 5px 10px;
        border-radius: 5px;
    }
}